@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.demo2 ul li
{
    display: inline-block;
}

.grand-hotel-regular {
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-style: normal;
    margin-left: 53%;
    margin-top: 14%;
  }

  .demo2
  {
    margin-left: 54%;
  }
  .demo3
  {
    margin-left: 54%;
  }

  .font {
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-style: normal;
    
   
  }
  .font1 {
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-style: normal;
    
   
  }
  .font2 {
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-style: normal;
    
   
  }
  .font3 {
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-style: normal;
    
   
  }
  .font5 {
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-style: normal;
    padding-top: 30%;
    
   
  }
  .font7 {
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-style: normal;
    
    
    
   
  }
  
   .uuu{
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-style: normal;
  } 